<div class="jumbotron">
  <div class="container">
    <h1>My first RoR project</h1>
    <h3>Example subtitle</h3>
  </div>
</div>

<div class="container">
  
  <h2>Developing Skills:</h2>
  <p>Ruby, rails, jquery, javascript, html, css, bootstrap, git, github, heroku deployment, stripe API</p>
  
</div>